<div class="container">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">My Weather</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-3">Welcome to my weather world</h1>
  <p class="lead">THis web app will help you to know the  current weather and other weather details.</p>
  <hr class="my-4">
  
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Register</h3>
        <p class="card-text">Register with your my weather account to see all the current weather deatils..</p>
        <button type="button" routerLink="/register" class="btn btn-primary">Register</button>
        
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Already a member??</h3>
        <p class="card-text">Just log in to your my weather account and see all the weather details of different cities.</p>
        <a routerLink="/login" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
</div>

<div class="m-t-3"></div>
   <footer class="mainfooter" role="contentinfo">
  
  
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p class="text-xs-center">&copy; Copyright 2016 -My Weather.  All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>


</div>